# L5: Information extraction

Information extraction (IE) is the task of identifying named entities and semantic relations between these entities in text data. In this lab we will focus on two sub-tasks in IE, **named entity recognition** (identifying mentions of entities) and **entity linking** (matching these mentions to entities in a knowledge base).

**Reminder about our [Rules for hand-in assignments](https://www.ida.liu.se/~TDDE16/exam.en.shtml#handins) and the [Policy on cheating and plagiarism](https://www.ida.liu.se/~TDDE16/exam.en.shtml#cheating)**

We start by loading spaCy:

In [1]:
import spacy

nlp = spacy.load('en_core_web_sm')

The data that we will be using has been tokenized following the conventions of the [Penn Treebank](ftp://ftp.cis.upenn.edu/pub/treebank/public_html/tokenization.html), and we need to prevent spaCy from using its own tokenizer on top of this. We therefore override spaCy&rsquo;s tokenizer with one that simply splits on space.

In [2]:
from spacy.tokens import Doc

class WhitespaceTokenizer(object):
    def __init__(self, vocab):
        self.vocab = vocab

    def __call__(self, text):
        return Doc(self.vocab, words=text.split(' '))

nlp.tokenizer = WhitespaceTokenizer(nlp.vocab)

## Data set

The main data set for this lab is a collection of news wire articles in which mentions of named entities have been annotated with page names from the [English Wikipedia](https://en.wikipedia.org/wiki/). The next code cell loads the training and the development parts of the data into Pandas data frames.

In [3]:
import bz2
import csv
import pandas as pd

with bz2.open('ner-train.tsv.bz2', 'rt') as source:
    df_train = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

with bz2.open('ner-dev.tsv.bz2', 'rt') as source:
    df_dev = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

Each row in these two data frames corresponds to one mention of a named entity and has five columns:

1. a unique identifier for the sentence containing the entity mention
2. the pre-tokenized sentence, with tokens separated by spaces
3. the start position of the token span containing the entity mention
4. the end position of the token span (exclusive, as in Python list indexing)
5. the entity label; either a Wikipedia page name or the generic label `--NME--`

The following cell prints the first five samples from the training data:

In [4]:
df_train.head()

,sentence_id,sentence,beg,end,label
0,0000-000,EU rejects German call to boycott British lamb .,0,1,--NME--
1,0000-000,EU rejects German call to boycott British lamb .,2,3,Germany
2,0000-000,EU rejects German call to boycott British lamb .,6,7,United_Kingdom
3,0000-001,Peter Blackburn,0,2,--NME--
4,0000-002,BRUSSELS 1996-08-22,0,1,Brussels

In this sample, we see that the first sentence is annotated with three entity mentions:

* the span 0–1 &lsquo;EU&rsquo; is annotated as a mention but only labelled with the generic `--NME--`
* the span 2–3 &lsquo;German&rsquo; is annotated with the page [Germany](http://en.wikipedia.org/wiki/Germany)
* the span 6–7 &lsquo;British&rsquo; is annotated with the page [United_Kingdom](http://en.wikipedia.org/wiki/United_Kingdom)

## Problem 1: Evaluation measures

To warm up, we ask you to write code to print the three measures that you will be using for evaluation:

In [5]:
def evaluation_report(gold, pred):
    """Print precision, recall, and F1 score.
    
    Args:
        gold: The set with the gold-standard values.
        pred: The set with the predicted values.
    
    Returns:
        Nothing, but prints the precision, recall, and F1 values computed
        based on the specified sets.
    """
    # TODO: Replace the next line with your own code
    TP = len(gold & pred) # intersection
    TN = 0
    FP = len(pred - gold)
    FN = len(gold - pred)

    precision = TP / (TP + FP)
    recall = TP / (TP + FN)
    F1_score = (2 * precision * recall) / (precision + recall)
    
    print("precission: ",precision, ", recall: ", recall, ", F1_score: ", F1_score )

To test your code, you can run the following cell:

In [6]:
evaluation_report(set(range(3)), set(range(5)))

precission:  0.6 , recall:  1.0 , F1_score:  0.7499999999999999

This should give you a precision of 60%, a recall of 100%, and an F1-value of 75%.

## Problem 2: Span recognition

One of the first tasks that an information extraction system has to solve is to locate and classify (mentions of) named entities, such as persons and organizations. Here we will tackle the simpler task of recognizing **spans** of tokens that contain an entity mention, without the actual entity label.

The English language model in spaCy features a full-fledged [named entity recognizer](https://spacy.io/usage/linguistic-features#named-entities) that identifies a variety of entities, and can be updated with new entity types by the user. Your task in this problem is to evaluate the performance of this component when predicting entity spans in the development data.

Start by implementing a generator function that yields the gold-standard spans in a given data frame.

**Hint:** The Pandas method [`itertuples()`](https://pandas.pydata.org/pandas-docs/version/0.17.0/generated/pandas.DataFrame.itertuples.html) is useful when iterating over the rows in a DataFrame.

In [17]:
def gold_spans(df):
    """Yield the gold-standard mention spans in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        triples consisting of the sentence id, start position, and end
        position of each span.
    """
    # input a df, return each span's sentence id, start position, end position
    # TODO: Replace the next line with your own code
    # because we use row.sentence_id directly, the Args index here doesn't matter
    for row in df.itertuples():
        yield row.sentence_id, row.beg, row.end

To test your code, you can count the spans yielded by your function. When called on the development data, you should get a total of 5,917 unique triples. The first triple and the last triple should be

    ('0946-000', 2, 3)
    ('1161-010', 1, 3)

In [18]:
spans_dev_gold = set(gold_spans(df_dev))
print(len(spans_dev_gold))

5917

----My Answer:

----set() function will deduplicate or remove the same data records and reorder the list.

----then, we use list() function to get the original order.

In [19]:
# the first triple
list(gold_spans(df_dev))[0]

('0946-000', 2, 3)

In [20]:
# the last triple
list(gold_spans(df_dev))[-1]

('1161-010', 1, 3)

Your next task is to write code that calls spaCy to predict the named entities in the development data, and to evaluate the accuracy of these predictions in terms of precision, recall, and F1. Print these scores using the function that you wrote for Problem&nbsp;1.

In [21]:
# TODO: Write code here to run and evaluate the spaCy named entity recognizer on the development data
# 1. use spaCy to predict named entities in df_dev
# 2. use evaluation_report() function get precission, recall, F1_score

def spaCy_predict(df):
    for row in df.itertuples():
        doc = nlp(row.sentence)
        for ent in doc.ents:
            yield row.sentence_id, ent.start, ent.end

# df_dev is the development data
# 1. use spaCy_predict() function to predict the df_dev
# 2. use evaluation_report() function to compare 'pred' and 'gold' sets

spaCy_predictions = set(spaCy_predict(df_dev))
evaluation_report(gold = spans_dev_gold, pred = spaCy_predictions)

precission:  0.5213954072029113 , recall:  0.702213959776914 , F1_score:  0.5984444764511019

----My Answer:

----Here, we get above scores, which are not very good, the Precission and F1_score are too low.

----just more than a half of the predicted spans set are correct based on gold standard.

## Problem 3: Error analysis

As you were able to see in Problem&nbsp;2, the span accuracy of the named entity recognizer is far from perfect. In particular, only slightly more than half of the predicted spans are correct according to the gold standard. Your next task is to analyse this result in more detail.

Here is a function that prints the false positives as well

 as the false negatives spans for a data frame, given a reference set of gold-standard spans and a candidate set of predicted spans.

In [22]:
from collections import defaultdict

def error_report(df, spans_gold, spans_pred):
    false_pos = defaultdict(list)
    for s, b, e in spans_pred - spans_gold:
        false_pos[s].append((b, e))
    false_neg = defaultdict(list)
    for s, b, e in spans_gold - spans_pred:
        false_neg[s].append((b, e))
    for row in df.drop_duplicates('sentence_id').itertuples():
        if row.sentence_id in false_pos or row.sentence_id in false_neg:
            print('Sentence:', row.sentence)
            for b, e in false_pos[row.sentence_id]:
                print('  FP:', ' '.join(row.sentence.split()[b:e]))
            for b, e in false_neg[row.sentence_id]:
                print('  FN:', ' '.join(row.sentence.split()[b:e]))

Use this function to inspect and analyse the errors that the automated prediction makes. Can you see any patterns? Base your analysis on the first 500 rows of the training data. Summarize your observations in a short text.

In [23]:
# TODO: Write code here to do your analysis

# use first 500 rows 
# set of gold-standard spans
# set of predicted spans
error_report(df_dev.iloc[0:500,], set(gold_spans(df_dev)), set(spaCy_predict(df_dev)))

Sentence: CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTER INNINGS VICTORY .
  FN: LEICESTERSHIRE
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: West Indian all-rounder Phil Simmons took four for 38 on Friday as Leicestershire beat Somerset by an innings and 39 runs in two days to take over at the head of the county championship .
  FP: four
  FP: 38
  FP: 39
  FP: two days
  FP: Friday
Sentence: After bowling Somerset out for 83 on the opening morning at Grace Road , Leicestershire extended their first innings by 94 runs before being bowled out for 296 with England discard Andy Caddick taking three for 83 .
  FP: first
  FP: 94
  FP: three
  FP: 296
  FP: 83
  FP: 83
  FP: the opening morning
Sentence: Trailing by 213 , Somerset got a solid start to their second innings before Simmons stepped in to bundle them out for 174 .
  FP: second
  FP: 174
  FP: 213
Sentence: Essex , however , look certain to regain their top spot after Nasser Hussain and Peter Such gave them a firm grip on their match against Yorkshire at Headingley .
  FP: Yorkshire at
  FN: Essex
  FN: Yorkshire
Sentence: Hussain , considered surplus to England 's one-day requirements , struck 158 , his first championship century of the season , as Essex reached 372 and took a first innings lead of 82 .
  FP: first
  FP: 82
  FP: one-day
  FP: 372
  FP: 158
  FP: first
Sentence: By the close Yorkshire had turned that into a 37-run advantage but off-spinner Such had scuttled their hopes , taking four for 24 in 48 balls and leaving them hanging on 119 for five and praying for rain .
  FP: five
  FP: four
  FP: 24
  FP: 119
  FP: 48
  FN: Such
Sentence: At the Oval , Surrey captain Chris Lewis , another man dumped by England , continued to silence his critics as he followed his four for 45 on Thursday with 80 not out on Friday in the match against Warwickshire .
  FP: 45
  FP: Thursday
  FP: Friday
  FP: 80
  FP: four
Sentence: He was well backed by England hopeful Mark Butcher who made 70 as Surrey closed on 429 for seven , a lead of 234 .
  FP: 429
  FP: 70
  FP: seven
  FP: 234
Sentence: Derbyshire kept up the hunt for their first championship title since 1936 by reducing Worcestershire to 133 for five in their second innings , still 100 runs away from avoiding an innings defeat .
  FP: 1936
  FP: second
  FP: 133
  FP: five
  FP: 100
  FP: first
  FN: Derbyshire
Sentence: Australian Tom Moody took six for 82 but Chris Adams , 123 , and Tim O'Gorman , 109 , took Derbyshire to 471 and a first innings lead of 233 .
  FP: 471
  FP: 233
  FP: 109
  FP: first
  FP: 123
  FP: six
  FP: 82
Sentence: After the frustration of seeing the opening day of their match badly affected by the weather , Kent stepped up a gear to dismiss Nottinghamshire for 214 .
  FP: 214
Sentence: They were held up by a gritty 84 from Paul Johnson but ex-England fast bowler Martin McCague took four for 55 .
  FP: 55
  FP: 84
  FP: four
  FN: ex-England
Sentence: By stumps Kent had reached 108 for three .
  FP: 108
  FP: three
Sentence: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES .
  FP: CRICKET - ENGLISH COUNTY CHAMPIONSHIP SCORES
  FN: ENGLISH COUNTY CHAMPIONSHIP
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Result and close of play scores in English county championship matches on Friday :
  FP: Friday
  FP: English county
  FN: English
Sentence: Leicester : Leicestershire beat Somerset by an innings and 39 runs .
  FP: 39
  FN: Leicester
  FN: Leicestershire
Sentence: Somerset 83 and 174 ( P. Simmons 4-38 ) , Leicestershire 296 .
  FP: 174
  FP: 83
  FP: 296
  FN: Somerset
  FN: Leicestershire
  FN: P. Simmons
Sentence: Leicestershire 22 points , Somerset 4 .
  FP: 22
  FP: 4
  FN: Leicestershire
  FN: Somerset
Sentence: Chester-le-Street : Glamorgan 259 and 207 ( A. Dale 69 , H. Morris 69 ; D. Blenkiron 4-43 ) , Durham 114 ( S. Watkin 4-28 ) and 81-3 .
  FP: H. Morris 69
  FP: 259
  FP: 4-28
  FP: 81-3
  FP: D.
  FN: A. Dale
  FN: D. Blenkiron
  FN: S. Watkin
  FN: Chester-le-Street
  FN: H. Morris
Sentence: Tunbridge Wells : Nottinghamshire 214 ( P. Johnson 84 ; M. McCague 4-55 ) , Kent 108-3 .
  FP: M. McCague 4-55
  FN: Kent
  FN: M. McCague
  FN: P. Johnson
  FN: Nottinghamshire
Sentence: London ( The Oval ) : Warwickshire 195 , Surrey 429-7 ( C. Lewis 80 not out , M. Butcher 70 , G. Kersey 63 , J. Ratcliffe 63 , D. Bicknell 55 ) .
  FP: D.
  FP: 55
  FP: 195
  FP: Surrey 429-7
  FP: G. Kersey 63
  FP: J. Ratcliffe 63
  FN: D. Bicknell
  FN: Warwickshire
  FN: C. Lewis
  FN: The Oval
  FN: Surrey
  FN: J. Ratcliffe
  FN: G. Kersey
Sentence: Hove : Sussex 363 ( W. Athey 111 , V. Drakes 52 ; I. Austin 4-37 ) , Lancashire 197-8 ( W. Hegg 54 )
  FP: W. Hegg 54
  FP: V. Drakes 52
  FP: W. Athey 111
  FP: Lancashire 197-8
  FP: I. Austin 4-37
  FN: Sussex
  FN: Hove
  FN: W. Athey
  FN: Lancashire
  FN: I. Austin
  FN: V. Drakes
  FN: W. Hegg
Sentence: Portsmouth : Middlesex 199 and 426 ( J. Pooley 111 , M. Ramprakash 108 , M. Gatting 83 ) , Hampshire 232 and 109-5 .
  FP: 426
  FP: 199
  FP: J. Pooley 111
  FP: M. Ramprakash 108
  FP: 109-5
  FP: M. Gatting 83
  FP: Hampshire 232
  FN: Portsmouth
  FN: Hampshire
  FN: Middlesex
  FN: M. Ramprakash
  FN: J. Pooley
  FN: M. Gatting
Sentence: Chesterfield : Worcestershire 238 and 133-5 , Derbyshire 471 ( J. Adams 123 , T.O'Gorman 109 not out , K. Barnett 87 ; T. Moody 6-82 )
  FP: T. Moody 6-82
  FP: 109
  FP: Worcestershire 238 and 133-5
  FP: J. Adams 123
  FN: J. Adams
  FN: Worcestershire
  FN: Derbyshire
  FN: T. Moody
  FN: T.O'Gorman
Sentence: Bristol : Gloucestershire 183 and 185-6 ( J. Russell 56 not out ) , Northamptonshire 190 ( K. Curran 52 ; A. Smith 5-68 ) .
  FP: J. Russell 56
  FP: 183
  FP: Northamptonshire 190 ( K. Curran 52
  FP: A. Smith 5-68
  FN: Gloucestershire
  FN: J. Russell
  FN: K. Curran
  FN: Northamptonshire
  FN: A. Smith
Sentence: CRICKET - 1997 ASHES INTINERARY .
  FP: CRICKET - 1997
  FN: ASHES
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: Australia will defend the Ashes in
  FN: Ashes
Sentence: a six-test series against England during a four-month tour
  FP: four-month
Sentence: starting on May 13 next year , the Test and County Cricket Board
  FP: May 13 next year
  FN: Test and County Cricket Board
Sentence: Australia will also play three one-day internationals and
  FP: three
Sentence: as well as one-day matches against the Minor Counties and
  FP: one-day
  FN: Minor Counties
Sentence: May 13 Arrive in London
  FP: May 13 Arrive
Sentence: May 14 Practice at Lord 's
  FP: May 14 Practice
  FN: Lord 's
Sentence: May 15 v Duke of Norfolk 's XI ( at Arundel )
  FP: May 15 v Duke of Norfolk 's
  FP: XI
  FN: Arundel
  FN: Duke of Norfolk 's XI
Sentence: May 17 v Northampton
  FP: May 17
Sentence: May 18 v Worcestershire
  FP: May 18 v
  FN: Worcestershire
Sentence: May 20 v Durham
  FP: May 20
  FN: Durham
Sentence: May 22 First one-day international ( at Headingley ,
  FP: May 22 First one-day
Sentence: May 24 Second one-day international ( at The Oval ,
  FP: May 24 Second
Sentence: May 25 Third one-day international ( at Lord 's , London )
  FP: May 25 Third one-day
  FN: Lord 's
Sentence: May 27-29 v Gloucestershire or Sussex or Surrey ( three
  FP: May 27-29 v Gloucestershire
  FP: three
  FN: Gloucestershire
Sentence: May 31 - June 2 v Derbyshire ( three days )
  FP: May 31 - June 2 v Derbyshire
  FP: three days
  FN: Derbyshire
Sentence: June 5-9 First test match ( at Edgbaston , Birmingham )
  FP: June 5-9
  FP: First
Sentence: June 14-16 v Leicestershire ( three days )
  FP: June 14-16
  FP: three days
  FN: Leicestershire
Sentence: June 19-23 Second test ( at Lord 's )
  FP: June 19-23
  FP: Second
  FN: Lord 's
Sentence: June 25-27 v British Universities ( at Oxford , three days )
  FP: British
  FP: June 25-27
  FP: three days
  FN: British Universities
Sentence: June 28-30 v Hampshire ( three days )
  FP: June 28-30 v Hampshire
  FP: three days
  FN: Hampshire
Sentence: July 3-7 Third test ( at Old Trafford , Manchester )
  FP: July 3-7 Third
Sentence: July 9 v Minor Counties XI
  FP: July 9
  FN: Minor Counties XI
Sentence: July 12 v Scotland
  FP: July 12
Sentence: July 16-18 v Glamorgan ( three days )
  FP: July 16-18
  FP: three days
  FN: Glamorgan
Sentence: July 19-21 v Middlesex ( three days )
  FP: July 19-21
  FP: three days
  FN: Middlesex
Sentence: July 24-28 Fourth test ( at Headingley )
  FP: Fourth
  FP: July 24-28
Sentence: August 1-4 v Somerset ( four days )
  FP: August 1-4
  FP: four days
  FN: Somerset
Sentence: August 7-11 Fifth test ( at Trent Bridge , Nottingham )
  FP: August 7-11 Fifth
Sentence: August 16-18 v Kent ( three days )
  FP: August 16-18
  FP: three days
  FN: Kent
Sentence: August 21-25 Sixth test ( at The Oval , London ) .
  FP: Sixth
  FP: August 21-25
Sentence: SOCCER - SHEARER NAMED AS ENGLAND CAPTAIN .
  FN: SHEARER
  FN: ENGLAND
Sentence: LONDON 1996-08-30
  FP: 1996-08-30
Sentence: The world 's costliest footballer Alan Shearer was named as the new England captain on Friday .
  FP: Friday
Sentence: The 26-year-old , who joined Newcastle for 15 million pounds sterling ( $ 23.4 million ) , takes over from Tony Adams , who led the side during the European championship in June , and former captain David Platt .
  FP: $ 23.4 million
  FP: 15 million pounds
  FP: June
Sentence: Adams and Platt are both injured and will miss England 's opening World Cup qualifier against Moldova on Sunday .
  FP: Sunday
  FN: Adams
Sentence: " There were three or four people who could have done it but when I spoke to Alan he was up for it and really wanted it .
  FP: three
  FP: four
Sentence: Shearer 's Euro 96 striking partner Teddy Sheringham withdrew from the squad with an injury on Friday .
  FP: Friday
Sentence: BELGRADE 1996-08-30
  FP: 1996-08-30
  FN: BELGRADE
Sentence: SOCCER - ROMANIA BEAT LITHUANIA IN UNDER-21 MATCH .
  FN: ROMANIA
  FN: LITHUANIA
Sentence: BUCHAREST 1996-08-30
  FP: 1996-08-30
  FN: BUCHAREST
Sentence: Romania beat Lithuania 2-1 ( halftime 1-1 ) in their European under-21 soccer match on Friday .
  FP: Friday
  FP: 1-1
Sentence: Romania - Cosmin Contra ( 31st ) , Mihai Tararache ( 75th )
  FP: Romania - Cosmin Contra
  FP: 75th
  FN: Romania
  FN: Cosmin Contra
Sentence: Lithuania - Danius Gleveckas ( 13rd )
  FN: Danius Gleveckas
Sentence: SOCCER - ROTOR FANS LOCKED OUT AFTER VOLGOGRAD VIOLENCE .
  FN: ROTOR
  FN: VOLGOGRAD
Sentence: MOSCOW 1996-08-30
  FP: 1996-08-30
Sentence: Rotor Volgograd must play their next home game behind closed doors after fans hurled bottles and stones at Dynamo Moscow players during a 1-0 home defeat on Saturday that ended Rotor 's brief spell as league leaders .
  FP: Volgograd
  FP: Saturday
  FN: Rotor
  FN: Rotor Volgograd
Sentence: The head of the Russian league 's disciplinary committee , Anatoly Gorokhovsky , said on Friday that Rotor would play Lada Togliatti to empty stands on September 3 .
  FP: September 3
  FP: the Russian league 's
  FP: Friday
  FN: Rotor
  FN: Russian
Sentence: The club , who put Manchester United out of last year 's UEFA Cup , were fined $ 1,000 .
  FP: 1,000
  FP: last year 's
Sentence: Despite the defeat , Rotor are well placed with 11 games to play in the championship .
  FP: 11
  FN: Rotor
Sentence: Lying three points behind Alania and two behind Dynamo Moscow , the Volgograd side have a game in hand over the leaders and two over the Moscow club .
  FP: two
  FP: three
  FP: two
Sentence: BOXING - PANAMA 'S ROBERTO DURAN FIGHTS THE SANDS OF TIME .
  FN: ROBERTO DURAN
  FN: PANAMA
Sentence: PANAMA CITY 1996-08-30
  FP: PANAMA
  FN: PANAMA CITY
Sentence: Panamanian boxing legend Roberto " Hands of Stone " Duran climbs into the ring on Saturday in another age-defying attempt to sustain his long career .
  FP: Saturday
Sentence: Duran , 45 , takes on little-known Mexican Ariel Cruz , 30 , in a super middleweight non-title bout in Panama City .
  FP: 30
  FP: 45
Sentence: The fight , Duran 's first on home soil for 10 years , is being billed here as the " Return of the Legend " and Duran still talks as if he was in his prime .
  FP: first
  FP: 10 years
  FN: Return of the Legend
Sentence: If he loses Saturday , it could devalue his position as one of the world 's great boxers , " Panamanian Boxing Association President Ramon Manzanares said .
  FP: Saturday
  FN: Boxing Association
  FN: Panamanian
Sentence: Duran , whose 97-12 record spans three decades , hopes a win in the 10-round bout will earn him a rematch against Puerto Rico 's Hector " Macho " Camacho .
  FP: Puerto Rico 's
  FP: 97-12
  FP: three decades
  FN: Puerto Rico
Sentence: Camacho took a controversial points decision against the Panamanian in Atlantic City in June in a title fight .
  FP: June
Sentence: SQUASH - HONG KONG OPEN QUARTER-FINAL RESULTS .
  FP: SQUASH - HONG KONG OPEN
  FN: HONG KONG OPEN
Sentence: HONG KONG 1996-08-30
  FP: 1996-08-30
Sentence: Quarter-final results in the Hong Kong Open on Friday ( prefix number denotes seeding ) : 1 - Jansher Khan ( Pakistan ) beat Mark Cairns ( England ) 15-10 15-6 15-7
  FP: 1
  FP: 15-10 15-6
  FP: Friday
  FP: the Hong Kong Open
  FN: Hong Kong Open
  FN: Jansher Khan
Sentence: Anthony Hill ( Australia ) beat Dan Jenson ( Australia ) 15-9 15-8 15-17 17-15
  FP: 15-9
Sentence: 4 - Peter Nicol ( Scotland ) beat 7 - Chris Walker ( England ) 15-8 15-13 13-15 15-9
  FP: 4 - Peter Nicol
  FP: 15-8 15-13
  FP: 7
  FN: Peter Nicol
  FN: Chris Walker
  FN: England
Sentence: 2 - Rodney Eyles ( Australia ) beat Derek Ryan ( Ireland ) 15-6 15-9 11-15 15-10 .
  FP: 2 - Rodney Eyles
  FP: 15-6 15-9 11-15 15-10
  FN: Rodney Eyles
  FN: Ireland
Sentence: SEOUL 1996-08-30
  FP: SEOUL 1996-08-30
  FN: SEOUL
Sentence: Pohang 3 Ulsan 2 ( halftime 1-0 )
  FP: Pohang 3 Ulsan 2
  FN: Ulsan
  FN: Pohang
Sentence: Puchon 2 Chonbuk 1 ( halftime 1-1 )
  FP: 2
  FP: 1-1
  FN: Chonbuk
  FN: Puchon
Sentence: Puchon 3 1 0 6 1 10
  FP: 3 1 0 6 1 10
  FN: Puchon
Sentence: Chonan 3 0 1 13 10 9
  FP: 9
  FN: Chonan
Sentence: Pohang 2 1 1 11 10 7
  FP: Pohang 2 1 1 11
  FN: Pohang
Sentence: Suwan 1 3 0 7 3 6
  FN: Suwan
Sentence: Ulsan 1 0 2 8 9 3
  FN: Ulsan
Sentence: Anyang 0 3 1 6 9 3
  FP: 0 3 1 6 9 3
  FN: Anyang
Sentence: Pusan 0 2 1 3 7 2
  FP: Pusan 0 2 1 3
  FN: Pusan
Sentence: Chonbuk 0 0 3 3 7 0
  FP: 0
  FN: Chonbuk
Sentence: SEOUL 1996-08-30
  FP: SEOUL 1996-08-30
  FN: SEOUL
Sentence: LG 2 OB 0
  FP: 2
  FN: LG
  FN: OB
Sentence: Lotte 6 Hyundai 2
  FP: 2
  FN: Lotte
Sentence: Hyundai 6 Lotte 5
  FP: 6 Lotte 5
  FN: Lotte
Sentence: Haitai 2 Samsung 0
  FP: Haitai 2 Samsung 0
  FN: Samsung
  FN: Haitai
Sentence: Samsung 10 Haitai 3
  FP: 3
  FN: Haitai
Sentence: Hanwha 6 Ssangbangwool 5
  FP: 6
  FP: 5
  FN: Ssangbangwool
  FN: Hanwha
Sentence: Note - Lotte and Hyundai , Haitai and Samsung played two games .
  FP: two
  FN: Lotte
Sentence: Haitai 64 2 43 .596 -
  FP: 64 2 43
  FN: Haitai
Sentence: Ssangbangwool 59 2 49 .545 5 1/2
  FP: .545 5 1/2
  FN: Ssangbangwool
Sentence: Hanwha 58 1 49 .542 6
  FP: 49
  FP: 6
  FP: 58
Sentence: Hyundai 57 5 49 .536 6 1/2
  FP: 57
  FP: 5 49 .536 6 1/2
Sentence: Samsung 49 5 56 .468 14
  FP: 14
Sentence: Lotte 46 6 54 .462 14 1/2
  FP: 14 1/2
  FN: Lotte
Sentence: LG 46 5 59 .441 17
  FP: 17
  FP: 46
  FN: LG
Sentence: OB 42 6 62 .409 20 1/2
  FP: 42
  FP: 20 1/2
  FN: OB
Sentence: TENNIS - FRIDAY 'S RESULTS FROM THE U.S. OPEN .
  FP: U.S.
  FN: U.S. OPEN
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: Results from the U.S. Open Tennis Championships at the National Tennis Centre on Friday ( prefix number denotes seeding ) :
  FP: the U.S. Open Tennis Championships
  FP: Friday
  FP: the National Tennis Centre
  FN: National Tennis Centre
  FN: U.S. Open Tennis Championships
Sentence: Sandrine Testud ( France ) beat Ines Gorrochategui ( Argentina ) 4-6 6-2 6-1
  FP: 4-6
  FP: 6-1
Sentence: 4 - Goran Ivanisevic ( Croatia ) beat Scott Draper ( Australia ) 6-7 ( 1-7 ) 6-3 6-4 6-4
  FP: 6-7
  FP: 4
  FP: 1-7
  FP: Scott Draper ( Australia
  FP: 6-3
  FN: Croatia
  FN: Scott Draper
  FN: Goran Ivanisevic
  FN: Australia
Sentence: Tim Henman ( Britain ) beat Doug Flach ( U.S. ) 6-3 6-4 6-2
  FP: 6-3
Sentence: Mark Philippoussis ( Australia ) beat Andrei Olhovskiy ( Russia ) 6 - 3 6-4 6-2
  FP: 6 - 3 6-4 6-2
Sentence: Sjeng Schalken ( Netherlands ) beat David Rikl ( Czech Republic ) 6 - 2 6-4 6-4
  FP: 6 - 2 6-4 6-4
Sentence: Guy Forget ( France ) beat 17 - Felix Mantilla ( Spain ) 6-4 7-5 6-3
  FP: 6-4 7-5
  FP: 17
  FP: 6-3
  FN: Felix Mantilla
Sentence: Alexander Volkov ( Russia ) beat Mikael Tillstrom ( Sweden ) 1-6 6- 4 6-1 4-6 7-6 ( 10-8 )
  FP: 1-6
  FP: 10-8
Sentence: Jonas Bjorkman ( Sweden ) beat David Nainkin ( South Africa ) ) 6-4 6-1 6-1
  FP: 6-4
Sentence: 8 - Lindsay Davenport ( U.S. ) beat Anne-Gaelle Sidot ( France ) 6-0 6-3
  FP: 6-0 6-3
  FP: 8
  FP: Sidot
  FN: Lindsay Davenport
  FN: Anne-Gaelle Sidot
Sentence: 4 - Conchita Martinez ( Spain ) beat Helena Sukova ( Czech Republic ) 6-4 6-3
  FP: 6-4 6-3
  FP: 4
  FN: Conchita Martinez
Sentence: Amanda Coetzer ( South Africa ) beat Irina Spirlea ( Romania ) 7-6 ( 7-5 ) 7-5
  FP: 7-5
Sentence: Add Men 's singles , second round 16 - Cedric Pioline ( France ) beat Roberto Carretero ( Spain ) 4-6 6 - 2 6-2 6-1 Alex Corretja ( Spain ) beat Filippo Veglio ( Switzerland ) 6-7 ( 4- 7 ) 6-4 6-4 6-0
  FP: second
  FP: 4-6
  FP: 6-7
  FP: 16
  FP: 7
  FN: Cedric Pioline
Sentence: Add Women 's singles , third round Linda Wild ( U.S. ) beat Barbara Rittner ( Germany ) 6-4 4-6 7-5 Asa Carlsson ( Sweden ) beat 15 - Gabriela Sabatini ( Argentina ) 7-5 3-6 6-2
  FP: 6-4 4-6
  FP: 7-5 Asa Carlsson
  FP: third
  FP: 3-6
  FP: 6-2
  FP: 15 - Gabriela Sabatini
  FN: Gabriela Sabatini
  FN: Asa Carlsson
Sentence: Add Men 's singles , second round 1 - Pete Sampras ( U.S. ) beat Jiri Novak ( Czech Republic ) 6-3 1-6 6-3 4-6 6-4 Paul Haarhuis ( Netherlands ) beat Michael Tebbutt ( Australia ) 1- 6 6-2 6-2 6-3
  FP: 1-6 6-3 4-6
  FP: 6-2 6-3
  FP: 6 6-2
  FP: second
  FP: 1 - Pete Sampras
  FP: 6-3
  FN: Pete Sampras
Sentence: Add Women 's singles , third round Lisa Raymond ( U.S. ) beat Kimberly Po ( U.S. ) 6-3 6-2
  FP: third
  FP: 6-3
Sentence: Andrei Medvedev ( Ukraine ) beat Jan Kroslak ( Slovakia ) 6-4 6-3
  FP: 6-4 6-3
Sentence: Petr Korda ( Czech Republic ) bat Bohdan Ulihrach ( Czech Republic ) 6-0 7-6 ( 7-5 ) 6-2
  FP: 6-2
  FN: Petr Korda
Sentence: 2 - Monica Seles ( U.S. ) beat Dally Randriantefy ( Madagascar )
  FP: 2
  FP: Dally Randriantefy ( Madagascar
  FN: Monica Seles
  FN: Dally Randriantefy
  FN: Madagascar
Sentence: Add men 's singles , second round 12 - Todd Martin ( U.S. ) beat Andrea Gaudenzi ( Italy ) 6-3 6-2 6-2 Stefan Edberg ( Sweden ) beat Bernd Karbacher ( Germany ) 3-6 6-3 6-3 1-0 retired ( leg injury )
  FP: 6-3
  FP: 3-6
  FP: 6-3
  FP: second
  FP: 12
Sentence: BASEBALL - MAJOR LEAGUE STANDINGS AFTER THURSDAY 'S GAMES .
  FN: MAJOR LEAGUE
Sentence: NEW YORK 1996-08-30
  FP: 1996-08-30
Sentence: AMERICAN LEAGUE EASTERN DIVISION
  FP: AMERICAN LEAGUE EASTERN
  FN: AMERICAN LEAGUE EASTERN DIVISION
Sentence: NEW YORK 74 59 .556 -
  FP: 74 59
Sentence: BALTIMORE 70 63 .526 4
  FP: 4
  FP: BALTIMORE 70 63
  FN: BALTIMORE
Sentence: BOSTON 69 65 .515 5 1/2
  FP: 5 1/2
  FP: BOSTON 69 65
  FN: BOSTON
Sentence: TORONTO 63 71 .470 11 1/2
  FP: 63 71
  FP: 11 1/2
Sentence: DETROIT 48 86 .358 26 1/2
  FP: 26 1/2
  FP: 48 86
Sentence: CENTRAL DIVISION
  FN: CENTRAL DIVISION
Sentence: CLEVELAND 80 53 .602 -
  FP: CLEVELAND 80 53
  FP: .602
  FN: CLEVELAND
Sentence: CHICAGO 71 64 .526 10
  FP: 10
  FN: CHICAGO
Sentence: MINNESOTA 67 67 .500 13 1/2
  FP: 67 67
  FP: 13 1/2
  FN: MINNESOTA
Sentence: MILWAUKEE 64 71 .474 17
  FP: 17
  FP: 64 71
  FN: MILWAUKEE
Sentence: KANSAS CITY 61 74 .452 20
  FP: 20
Sentence: WESTERN DIVISION
  FN: WESTERN DIVISION
Sentence: TEXAS 75 58 .564 -
  FP: 75 58
Sentence: SEATTLE 70 63 .526 5
  FP: 5
  FP: 70 63

*TODO: Write a short text that summarises the errors that you observed*

----My Answer:

----The main reason for the error of low precission is the influence of numbers, such as: date, time, percentage, ordinal number, number, etc.

----a FP(False Positives) is an error in binary classification in which a test result incorrectly indicates the presence of a condition, and in almost every sentence, there are FPs related to numbers or dates, so we think this is the main reason for the error.

Now, use the insights from your error analysis to improve the automated prediction that you implemented in Problem&nbsp;2. While the best way to do this would be to [update spaCy&rsquo;s NER model](https://spacy.io/usage/linguistic-features#updating) using domain-specific training data, for this lab it suffices to write code to post-process the output produced by spaCy. To filter out specific labels it is useful to know the named entity label scheme, which can be found in the [model's documentation](https://spacy.io/models/en#en_core_web_sm). You should be able to improve the F1 score from Problem&nbsp;2 by at last 15 percentage points.

----My Answer:

----from models documentation: https://spacy.io/models/en#en_core_web_sm

--> en_core_web_sm --> Label Scheme --> NER(named entity labels), we could find the: 

----original types:

['CARDINAL', 'DATE', 'EVENT', 'FAC', 'GPE', 'LANGUAGE', 'LAW', 'LOC', 'MONEY', 'NORP', 'ORDINAL', 'ORG', 'PERCENT', 'PERSON', 'PRODUCT', 'QUANTITY', 'TIME', 'WORK_OF_ART']

----number related types:

['CARDINAL', 'DATE', 'MONEY', 'ORDINAL', 'PERCENT', 'QUANTITY', 'TIME'  ]

----so, we remove these number related types.

In [24]:
# TODO: Write code here to run and evaluate the spaCy named entity recognizer on the development data
def improved_spaCy_predict(df):
    for row in df.itertuples():
        doc = nlp(row.sentence)
        for ent in doc.ents:
            # here we remove these numbers or date related named entity labels.
            if ent.label_ not in ['CARDINAL', 'DATE', 'MONEY', 'ORDINAL', 'PERCENT', 'QUANTITY', 'TIME']:
                yield row.sentence_id, ent.start, ent.end

# after remove these named entity labels
# we got improved_spaCy_predictions, and compare it with gold standard

improved_spaCy_predictions = set(improved_spaCy_predict(df_dev))
evaluation_report(gold = spans_dev_gold, pred = improved_spaCy_predictions)

precission:  0.847284605961617 , recall:  0.701368936961298 , F1_score:  0.7674526121128065

In [26]:
#  improved_spaCy_predictions' F1_score minus F1_score from Problem 2

0.7674526121128065 - 0.5984444764511019

0.16900813566170458

----My Answer:

----As we can see, after removing these numbers or date related named entirty labels, we improved approximately 16.9% F1_score.

Show that you achieve the performance goal by reporting the evaluation measures that you implemented in Problem&nbsp;1.

Before going on, we ask you to store the outputs of the improved named entity recognizer on the development data in a new data frame. This new frame should have the same layout as the original data frame for the development data that you loaded above, but should contain the *predicted* start and end positions for each token span, rather than the gold positions. As the `label` of each span, you can use the special value `--NME--`.

In [27]:
# layout of old development data
df_dev.head()

,sentence_id,sentence,beg,end,label
0,0946-000,CRICKET - LEICESTERSHIRE TAKE OVER AT TOP AFTE...,2,3,Leicestershire_County_Cricket_Club
1,0946-001,LONDON 1996-08-30,0,1,London
2,0946-002,West Indian all-rounder Phil Simmons took four...,0,2,West_Indies_cricket_team
3,0946-002,West Indian all-rounder Phil Simmons took four...,3,5,Phil_Simmons
4,0946-002,West Indian all-rounder Phil Simmons took four...,12,13,Leicestershire_County_Cricket_Club

In [37]:
# we look at the improved_spaCy_predictions
improved_spaCy_predictions

5917

----My Answer:

----If we look at the predicted spans(improved_spaCy_predictions) we got based on the new entity recognizer(improved_spaCy_predict):

----it has 'sentence_id', 'predicted start position', 'end positions'

----As the label of each span, we use the special value '--NME--'.

In [33]:
# TODO: Write code here to store the predicted spans in a new data frame

#1. Create an empty DataFrame, just remove the old records, but keep the column names and layout.
new_df_dev = df_dev.drop(index=df_dev.index)

#2. add new row or data records at the end of this empty DataFrame.
# based on layout we add 'sentence_id', 'sentence', 'predicted start position', 'end positions' and 'label'
for id, start, end in improved_spaCy_predictions:
    new_df_dev.loc[len(new_df_dev.index)] = [id, df_dev[df_dev['sentence_id'] == id].iloc[0]['sentence'], start, end, '--NME--']

new_df_dev.head()

,sentence_id,sentence,beg,end,label
0,1027-004,An Israeli roadblock stopped the 38-year-old P...,1,2,--NME--
1,1016-014,Ruehe planned to meet his Israeli counterpart ...,5,6,--NME--
2,1090-004,"Spain travels to Belgium , while the U.S. team...",3,4,--NME--
3,1112-004,Klinsmann said he believed Germany could win i...,4,5,--NME--
4,1139-008,Wang was jailed for two years for organising s...,22,24,--NME--

----

----My Answer:

----new_df_dev has the same layout as df_dev and 5 rows, all the labels are replaced by '--NME--'

----since the predicted spans length changed to, the new_df_dev has the different length

## Problem 4: Entity linking

Now that we have a method for predicting mention spans, we turn to the task of **entity linking**, which amounts to predicting the knowledge base entity that is referenced by a given mention. In our case, for each span we want to predict the Wikipedia page that this mention references.

Start by extending the generator function that you implemented in Problem&nbsp;2 to labelled spans.

In [38]:
def gold_mentions(df):
    """Yield the gold-standard mentions in a data frame.

    Args:
        df: A data frame.

    Yields:
        The gold-standard mention spans in the specified data frame as
        quadruples consisting of the sentence id, start position, end
        position and entity label of each span.
    """
    # TODO: Replace the next line with your own code
    # 'sentence_id', 'start position', 'end position', 'entity label'
    for row in df.itertuples():
        yield row.sentence_id, row.beg, row.end, row.label

A naive baseline for entity linking on our data set is to link each mention span to the Wikipedia page name that we get when we join the tokens in the span by underscores, as is standard in Wikipedia page names. Suppose, for example, that a span contains the two tokens

    Jimi Hendrix

The baseline Wikipedia page name for this span would be

    Jimi_Hendrix

Implement this naive baseline and evaluate its performance. Print the evaluation measures that you implemented in Problem&nbsp;1.

**Here and in the remainder of this lab, you should base your entity predictions on the predicted spans that you computed in Problem&nbsp;3.**

In [46]:
# TODO: Write code here to implement the baseline
def naive_baseline_predict(df):
    for row in df.itertuples():
        label = "_".join(row.sentence.split(' ')[row.beg : row.end])
        yield row.sentence_id, row.beg, row.end, label

In [52]:
# use gold_mentions() function on df_dev to get gold standard
gold_standard_mentions = set(gold_mentions(df_dev)) # old df dev

# predict on new_df_dev get from problem 3
naive_baseline_prediction = set(naive_baseline_predict(new_df_dev)) # new df dev

evaluation_report(gold = gold_standard_mentions, pred = naive_baseline_prediction)

precission:  0.31400571661902815 , recall:  0.25992901808348823 , F1_score:  0.2844197873324087

In [53]:
naive_baseline_prediction

{('0966-111', 4, 5, 'Kenya'),
 ('1034-000', 6, 8, 'El_Al'),
 ('1037-003',
  9,
  15,
  'the_Guangdong_Post_and_Telecommunications_Administration'),
 ('1000-014', 6, 7, 'Hungary'),
 ('1085-002', 10, 12, 'World_Cup'),
 ('1109-007', 0, 1, 'Brazil'),
 ('1007-025', 0, 1, 'Geraghty'),
 ('1015-003', 5, 6, 'Titanic'),
 ('0981-008', 23, 24, 'Hoey'),
 ('1006-004', 44, 45, 'Scotland'),
 ('1043-000', 2, 3, 'Thai'),
 ('1046-002', 28, 29, 'Spanish'),
 ('0961-003', 0, 1, 'Cunningham'),
 ('0979-012', 7, 9, 'Labor_Day'),
 ('1064-007', 40, 41, 'Northampton'),
 ('0994-004', 7, 9, 'Semyon_Sharetsky'),
 ('1066-022', 0, 1, 'Oxford'),
 ('1033-003', 0, 2, 'Flavio_Cotti'),
 ('1106-002', 0, 1, 'Belgium'),
 ('1094-013', 0, 2, 'CLEVELAND_80'),
 ('0959-010', 3, 5, 'NEW_YORK'),
 ('1116-037', 15, 16, 'Armenia'),
 ('1081-002', 4, 5, '0-0'),
 ('1116-011', 2, 3, 'Brazil'),
 ('1103-003', 0, 1, 'Belgium'),
 ('0966-128', 2, 3, 'Motkova'),
 ('0980-015', 5, 6, 'Fed'),
 ('1056-034', 18, 20, 'Cyril_Bos'),
 ('1129-001', 0, 1, 'MOSCOW'),
 ('1089-008', 14, 17, 'U.S._Amateur_Championship'),
 ('0947-010', 20, 22, 'Hampshire_232'),
 ('1069-013', 9, 12, 'M._Bicknell_4-38'),
 ('0948-001', 0, 1, 'LONDON'),
 ('1054-008', 1, 3, 'Erik_Breukink'),
 ('1077-006', 5, 7, 'World_Cup'),
 ('0986-006', 18, 19, 'Quinn'),
 ('1035-002', 20, 21, 'Nagorno-Karabakh'),
 ('1096-035', 4, 5, 'Mets'),
 ('1007-017', 8, 9, 'no-new-tax'),
 ('1142-009', 11, 12, 'Iraqi'),
 ('1146-007', 27, 28, 'KDP'),
 ('1039-018', 14, 17, 'Indonesian_Democratic_Party'),
 ('1056-010', 4, 5, 'Russia'),
 ('1011-012', 13, 17, 'First_Bank_System_Inc.'),
 ('1142-011', 25, 26, 'Iran'),
 ('1038-003', 51, 53, 'New_Zealand'),
 ('1133-003', 29, 31, 'Strike_Hard'),
 ('1049-002', 0, 5, "The_Republic_of_Ireland_'s"),
 ('0960-010', 0, 1, "O'Brien"),
 ('1058-043', 0, 2, 'Matt_Lawton'),
 ('1056-044', 7, 9, 'Yvonne_McGregor'),
 ('1132-004', 7, 8, 'Tacambaro'),
 ('1048-000', 8, 9, 'QUALIFIER'),
 ('0966-139', 1, 3, 'Brahim_Lahlafi'),
 ('1090-004', 0, 1, 'Spain'),
 ('0992-003', 15, 16, 'SDA'),
 ('1126-001', 0, 1, 'MAHALA'),
 ('0990-006', 9, 10, 'Chechnya'),
 ('0966-041', 1, 3, 'Irina_Korzhanenko'),
 ('1058-017', 16, 18, 'Darryl_Strawberry'),
 ('0966-131', 1, 3, 'Yelena_Gulyayeva'),
 ('1000-018', 26, 27, 'Petofi'),
 ('0971-002', 3, 4, 'Australia'),
 ('1019-002', 22, 23, 'Groningen'),
 ('1142-000', 0, 1, 'Iraqi'),
 ('1034-006', 6, 8, 'El_Al'),
 ('1130-005', 62, 64, 'Soul_Alone'),
 ('0953-011', 24, 26, 'Ramon_Manzanares'),
 ('1128-015', 1, 3, 'Anthony_Barker'),
 ('1099-010', 17, 18, 'Austrian'),
 ('0966-135', 1, 3, 'Bob_Kennedy'),
 ('1036-013', 6, 7, 'Ukrainians'),
 ('1051-010', 25, 27, 'Mark_Roe'),
 ('0965-011', 18, 20, 'Jesse_Owens'),
 ('1043-003', 27, 28, 'CNB'),
 ('1090-016', 19, 20, 'King'),
 ('0980-002', 0, 1, 'U.S.'),
 ('0981-006', 10, 12, 'North_American'),
 ('1058-003', 16, 17, 'Texas'),
 ('0947-008', 0, 1, 'London'),
 ('0966-014', 4, 5, 'Portugal'),
 ('1072-004', 10, 12, 'New_Zealand'),
 ('1019-012', 15, 16, 'Dutch'),
 ('1119-000', 2, 3, 'Iraq'),
 ('1099-018', 14, 16, 'Colin_Hendry'),
 ('0963-017', 23, 25, 'PGA_Tour'),
 ('0952-002', 1, 2, 'Volgograd'),
 ('1072-015', 4, 7, 'Van_der_Westhuizen'),
 ('0998-002', 0, 1, 'Russian'),
 ('1036-031', 14, 15, 'Norway'),
 ('1096-003', 5, 7, 'Todd_Stottlemyre'),
 ('1155-006', 1, 2, 'Iranian'),
 ('1148-005', 2, 3, 'Tunisia'),
 ('0966-119', 1, 3, 'Tim_Lobinger'),
 ('0946-013', 17, 18, 'Kent'),
 ('1128-003', 0, 2, 'Zycie_Warszawy'),
 ('1128-006', 23, 25, 'Jacques_Chirac'),
 ('1125-007', 10, 11, 'Rwanda'),
 ('1156-003', 21, 23, 'Howard_Wolpe'),
 ('1127-022', 0, 1, 'Mamatuyev'),
 ('1065-006', 0, 2, 'Greenock_Morton'),
 ('1094-047', 0, 1, 'COLORADO'),
 ('0965-008', 10, 11, 'Zurich'),
 ('1152-017', 9, 14, 'the_Tarawa_Amphibious_Readiness_Group'),
 ('1090-005', 10, 13, 'the_Czech_Republic'),
 ('0999-006', 0, 1, 'Interfax'),
 ('1051-001', 0, 1, 'NORTHAMPTON'),
 ('1058-013', 3, 5, 'Jim_Thome'),
 ('1056-017', 11, 13, 'Francis_Moreau'),
 ('1127-003', 3, 4, 'Chechens'),
 ('1028-012', 4, 7, 'Longely_&_Dahling'),
 ('1128-003', 37, 38, 'BRE'),
 ('1066-017', 0, 2, 'Crystal_Palace'),
 ('1070-011', 7, 9, 'Reynard_Honda'),
 ('1090-011', 6, 7, 'Fed'),
 ('1022-015', 1, 2, 'U.S.'),
 ('0966-108', 4, 5, 'Cuba'),
 ('1055-019', 7, 9, 'Mushtaq_Ahmed'),
 ('1046-007', 2, 4, 'Roberto_Carlos'),
 ('0966-105', 1, 3, 'Marc_Blume'),
 ('0996-003', 30, 32, 'Foreign_Ministry'),
 ('1125-002', 15, 16, 'Zaire'),
 ('0966-005', 4, 5, 'Sweden'),
 ('1125-008', 14, 15, 'Rwanda'),
 ('1046-009', 17, 19, 'Mauro_Silva'),
 ('0968-004', 24, 25, 'Bosnia'),
 ('1016-010', 5, 6, 'Israeli'),
 ('1155-015', 12, 13, 'Banisadr'),
 ('1099-018', 11, 13, 'Colin_Calderwood'),
 ('1026-001', 0, 1, 'CAIRO'),
 ('0992-002', 29, 30, 'U.S.'),
 ('1037-004', 3, 4, 'AXE'),
 ('1090-005', 17, 18, 'Japan'),
 ('0961-007', 17, 19, 'Jeffrey_Lurie'),
 ('0993-003', 15, 16, 'Batajnica'),
 ('1119-007', 9, 10, 'British'),
 ('0968-004', 43, 44, 'Milan'),
 ('1056-022', 4, 5, 'Australia'),
 ('1025-009', 18, 19, 'Israeli'),
 ('1070-009', 1, 3, 'Bobby_Rahal'),
 ('1009-010', 26, 27, 'Mexican'),
 ('1065-012', 0, 1, 'Clydebank'),
 ('1114-002', 7, 8, 'Lithuania'),
 ('1028-000', 0, 6, 'PRESALE_-_Bay_Co_Bldg_Auth'),
 ('1128-006', 10, 11, 'UWP'),
 ('1140-003', 23, 27, 'the_Hong_Kong_Standard'),
 ('1127-004', 20, 21, 'Urus-Martan'),
 ('1056-010', 1, 3, 'Natalia_Karimova'),
 ('1136-002', 23, 24, 'China'),
 ('1116-033', 6, 7, 'Saudi'),
 ('1059-005', 8, 9, 'Surrey'),
 ('1091-003', 11, 12, 'Germany'),
 ('0966-034', 4, 5, 'Belgium'),
 ('1056-032', 1, 3, 'Rita_Razmaite'),
 ('1151-000', 6, 7, 'Texas'),
 ('1120-002', 1, 2, 'Iraqi'),
 ('1035-002', 4, 5, 'Azerbaijan'),
 ('1058-006', 0, 1, 'Gonzalez'),
 ('0965-007', 19, 20, 'Bailey'),
 ('1067-018', 2, 5, 'East_Stirling_0'),
 ('1143-003', 10, 11, 'Israel'),
 ('1092-007', 11, 12, 'Australia'),
 ('1055-006', 4, 6, 'Mushtaq_Ahmed'),
 ('1056-040', 9, 11, 'Czech_Republic'),
 ('1125-012', 9, 10, 'Zaire'),
 ('1121-003', 16, 17, 'Iraqi'),
 ('0966-155', 4, 5, 'Finland'),
 ('1131-005', 14, 15, 'Chile'),
 ('1127-008', 18, 19, 'Russian'),
 ('1108-000', 0, 4, 'BOXING_-_KNOCK-OUT_SPECIALIST'),
 ('1054-007', 4, 5, 'Netherlands'),
 ('1019-001', 2, 3, 'Netherlands'),
 ('1010-012', 13, 14, 'Bernardin'),
 ('1004-002', 0, 1, 'Cambodia'),
 ('0995-006', 20, 21, 'Layron'),
 ('1058-002', 12, 15, 'the_Texas_Rangers'),
 ('1012-008', 38, 39, 'Lockerbie'),
 ('1099-006', 18, 20, 'Markus_Schopp'),
 ('1072-019', 49, 53, '7_-_Josh_Kronfeld'),
 ('1084-001', 0, 1, 'RIGA'),
 ('1039-009', 0, 2, 'JAKARTA_POST'),
 ('1076-027', 5, 7, 'OFK_Beograd'),
 ('1116-008', 0, 3, 'Charles_ceded_Alsace'),
 ('1135-029', 6, 7, 'Burma'),
 ('1033-008', 5, 6, 'Chechen'),
 ('1090-001', 0, 2, 'Richard_Finn'),
 ('0960-005', 15, 16, 'Wimbledon'),
 ('1039-001', 17, 18, 'Reuters'),
 ('1027-019', 5, 6, 'Jerusalem'),
 ('1152-012', 11, 12, 'Iraq'),
 ('1031-006', 26, 27, 'Indonesia'),
 ('0972-021', 8, 9, 'Chandana'),
 ('1061-021', 0, 5, 'Melrose_107_Stirling_County_10'),
 ('1056-025', 1, 3, 'Oksana_Grichina'),
 ('1106-006', 0, 4, 'Belgium_-_Marc_Degryse'),
 ('1135-004', 37, 39, 'Suu_Kyi'),
 ('0991-008', 16, 17, 'Moscow'),
 ('0985-002', 16, 17, 'Sun'),
 ('0994-014', 0, 1, 'Lukashenko'),
 ('1008-012', 2, 3, 'Treasury'),
 ('0966-125', 4, 5, 'Bulgaria'),
 ('0957-020', 12, 13, 'U.S.'),
 ('1066-044', 0, 1, 'Preston'),
 ('0957-010', 3, 4, 'France'),
 ('0966-090', 1, 3, 'Falilat_Ogunkoya'),
 ('0957-001', 0, 2, 'NEW_YORK'),
 ('1027-014', 4, 7, "Abu_Ammar_'s"),
 ('1095-015', 0, 1, 'Florida'),
 ('0998-000', 2, 3, 'Chechens'),
 ('0966-161', 4, 5, 'Canada'),
 ('1061-001', 0, 1, 'LONDON'),
 ('0954-003', 3, 4, 'Australia'),
 ('0957-009', 0, 2, 'Sjeng_Schalken'),
 ('1147-006', 23, 24, 'Reuters'),
 ('1156-000', 6, 7, 'Nyerere'),
 ('1030-017', 17, 19, 'Ralph_Bloch'),
 ('0947-010', 7, 10, 'J._Pooley_111'),
 ('0948-038', 3, 4, 'Scotland'),
 ('0966-000', 0, 6, 'ATHLETICS_-_BERLIN_GRAND_PRIX_RESULTS'),
 ('1116-006', 14, 15, 'Austrians'),
 ('1135-025', 31, 32, 'Insein'),
 ('1009-012', 9, 10, 'U.S.'),
 ('0978-002', 25, 26, 'Jones'),
 ('0957-018', 35, 36, 'Switzerland'),
 ('0975-005', 9, 10, 'Bistrita'),
 ('1103-015', 71, 73, 'Luis_Oliveira'),
 ('1097-020', 26, 27, 'Dutch'),
 ('1030-040', 1, 2, 'Tokyo'),
 ('1014-004', 31, 32, 'Dole'),
 ('1076-017', 0, 7, 'Becej_4_2_1_1_5_7'),
 ('1008-003', 10, 11, 'Midwest'),
 ('1130-003', 19, 20, 'Cuban'),
 ('0963-022', 2, 4, 'Scott_Hoch'),
 ('1103-020', 7, 9, 'Van_Moer'),
 ('1149-007', 8, 13, 'National_Automobile_Occupant_Protection_Campaign'),
 ('0957-028', 10, 12, 'Czech_Republic'),
 ('0962-009', 22, 24, 'Brian_Claar'),
 ('1152-011', 2, 3, 'Iraqi'),
 ('1076-031', 0, 1, 'Radnicki'),
 ('0986-003', 8, 10, 'Phil_Babb'),
 ('1045-009', 12, 13, 'Jerusalem'),
 ('1116-015', 11, 12, 'Naples'),
 ('1057-002', 6, 7, 'England'),
 ('1154-006', 16, 18, 'Bou_Haroun'),
 ('1076-024', 0, 4, 'Borac_4_0_0'),
 ('0946-012', 1, 3, 'Tom_Moody'),
 ('1044-004', 30, 31, 'Arabs'),
 ('1125-008', 3, 4, 'Kengo'),
 ('0993-000', 0, 1, 'Belgrade'),
 ('0953-012', 25, 30, 'Hector_"_Macho_"_Camacho'),
 ('1031-011', 10, 11, 'Chinese'),
 ('1099-018', 23, 25, 'Stuart_McCall'),
 ('1044-007', 22, 23, 'Jerusalem'),
 ('0958-013', 0, 3, 'CLEVELAND_80_53'),
 ('1010-006', 4, 5, 'Chicago'),
 ('1035-004', 22, 23, 'Armenians'),
 ('1126-002', 33, 34, 'Serbs'),
 ('0957-021', 13, 15, 'Kimberly_Po'),
 ('1059-005', 12, 13, 'Warwickshire'),
 ('1144-002', 31, 32, 'Arbil'),
 ('1003-005', 5, 6, 'Brunswijk'),
 ('0960-014', 12, 13, 'Washington'),
 ('1016-003', 18, 19, 'Arab'),
 ('1058-026', 10, 12, 'American_League'),
 ('0991-003', 15, 18, 'the_Russian_Federation'),
 ('0989-002', 18, 19, 'Education'),
 ('1056-024', 1, 3, 'Olga_Slioussareva'),
 ('1154-005', 0, 1, 'Liberte'),
 ('1054-012', 1, 3, 'Eleuterio_Anguita'),
 ('1045-003', 7, 8, 'Palestinian'),
 ('1076-021', 0, 1, 'Rad'),
 ('1056-017', 18, 20, 'Guido_Fulst'),
 ('1027-007', 10, 11, 'Jewish'),
 ('1138-008', 3, 4, 'Wang'),
 ('1160-001', 0, 2, 'Vera_Haller'),
 ('0984-001', 0, 1, 'LONDON'),
 ('1078-005', 0, 1, 'Benetton'),
 ('1155-010', 7, 8, 'Tehran'),
 ('1090-004', 3, 4, 'Belgium'),
 ('0997-004', 22, 23, 'Yeltsin'),
 ('1088-002', 3, 7, 'the_Hong_Kong_Open'),
 ('1064-007', 47, 48, 'Bristol'),
 ('1051-010', 15, 17, "Peter_O'Malley"),
 ('1097-020', 24, 25, 'Krajicek'),
 ('0966-006', 4, 5, 'Cuba'),
 ('1155-000', 8, 9, 'Bonn'),
 ('1033-007', 3, 4, 'Chechnya'),
 ('1094-001', 0, 2, 'NEW_YORK'),
 ('1033-008', 2, 4, 'Alexander_Lebed'),
 ('1031-009', 0, 1, 'Pirelli'),
 ('1118-002', 4, 6, 'Tony_Blair'),
 ('1120-007', 7, 8, 'Britain'),
 ('1068-024', 0, 2, 'Notts_County'),
 ('1144-000', 2, 3, 'Iraqi'),
 ('1041-001', 0, 1, 'TOKYO'),
 ('1058-037', 0, 2, 'Van_Poppel'),
 ('1119-006', 21, 22, 'British'),
 ('1150-005', 24, 28, 'the_Rochester_Fire_Department'),
 ('0958-055', 0, 2, 'SAN_FRANCISCO'),
 ('1031-004', 7, 9, 'CITIC_Pacific'),
 ('1028-011', 7, 8, 'Detroit'),
 ('1063-002', 14, 15, 'European'),
 ('0965-009', 4, 5, 'Zurich'),
 ('1025-001', 0, 2, 'DAMASCUS_1996-08-30'),
 ('1025-011', 7, 8, 'Netanyahu'),
 ('0957-008', 0, 2, 'Mark_Philippoussis'),
 ('1044-003', 17, 18, 'Nablus'),
 ('1055-027', 0, 2, 'Salim_Malik'),
 ('1044-004', 28, 29, 'Moslems'),
 ('0946-004', 14, 15, 'Leicestershire'),
 ('1036-027', 10, 11, 'Longyear'),
 ('1055-018', 6, 9, 'Waqar_Younis_9-0-54-1'),
 ('1103-006', 25, 26, 'Belgian'),
 ('0994-010', 31, 34, 'the_Soviet_Union'),
 ('1101-001', 0, 1, 'PARIS'),
 ('1116-009', 23, 24, 'Moscow'),
 ('1137-000', 0, 2, 'N._Korea'),
 ('0998-001', 2, 3, 'Russia'),
 ('1152-005', 32, 33, 'Pentagon'),
 ('1113-005', 0, 1, 'Borussia'),
 ('1060-022', 1, 4, 'Miguel_Angel_Martin'),
 ('1012-005', 15, 16, 'Libya'),
 ('1035-003', 11, 12, 'Azerbaijani'),
 ('0962-011', 0, 2, 'Mike_Hulbert'),
 ('1000-001', 0, 2, 'Emese_Bartha'),
 ('1024-008', 2, 7, 'Bear_Stearns_&_Co_Inc'),
 ('1043-005', 10, 11, 'Singapore'),
 ('1004-004', 0, 3, 'The_Supreme_Court'),
 ('0984-021', 6, 9, 'Kansai_International_Airport'),
 ('0982-005', 0, 3, '--_Jim_Ballantyne'),
 ('1060-018', 0, 1, '14.'),
 ('1096-023', 7, 8, 'Chicago'),
 ('0966-141', 4, 5, 'Ethiopia'),
 ('0966-028', 1, 3, 'Jack_Pierce'),
 ('1033-007', 6, 8, 'Tim_Guldimann'),
 ('1120-006', 12, 14, 'Stansted_airport'),
 ('1127-022', 33, 34, 'Greatest'),
 ('1033-009', 24, 25, 'Russia'),
 ('1038-007', 14, 17, "Hong_Kong_'s"),
 ('0965-006', 9, 10, 'Bailey'),
 ('1000-019', 1, 2, 'Budapest'),
 ('1013-004', 6, 7, 'European'),
 ('1055-026', 2, 3, 'Thorpe'),
 ('0947-006', 20, 21, 'Durham'),
 ('1027-001', 0, 2, 'Sami_Aboudi'),
 ('1022-010', 10, 11, 'Canadian'),
 ('1115-006', 0, 1, 'Orr'),
 ('1058-014', 0, 1, 'Cleveland'),
 ('1130-006', 0, 1, 'Granma'),
 ('1055-019', 3, 5, 'Saqlain_Mushtaq'),
 ('0984-006', 12, 13, 'Chicago'),
 ('0984-012', 18, 22, "Chicago_Purchasing_Managers_'"),
 ('1044-004', 1, 2, 'Jerusalem'),
 ('1016-000', 3, 5, 'Middle_East'),
 ('1117-002', 2, 3, 'British'),
 ('1070-013', 5, 6, 'U.S.'),
 ('1027-011', 3, 4, 'Arab'),
 ('1142-002', 16, 17, 'Baghdad'),
 ('1056-007', 1, 3, 'Marion_Clignet'),
 ('1027-025', 27, 28, 'Qalandia'),
 ('1095-014', 0, 1, 'Atlanta'),
 ('0954-002', 3, 7, 'the_Hong_Kong_Open'),
 ('0946-006', 26, 28, 'Yorkshire_at'),
 ('1070-011', 4, 5, 'U.S.'),
 ('1087-019', 9, 12, 'the_Portuguese_Open'),
 ('1096-041', 1, 2, 'Pittsburgh'),
 ('1093-004', 14, 16, 'Eric_Wynalda'),
 ('1024-001', 0, 1, 'WASHINGTON'),
 ('0995-002', 2, 3, 'Tajikistan'),
 ('1139-004', 17, 18, 'China'),
 ('0959-007', 2, 4, 'New_York'),
 ('1129-005', 12, 13, 'Russia'),
 ('1037-003', 16, 17, 'GPTA'),
 ('1152-005', 5, 9, 'the_Department_of_Defense'),
 ('1064-002', 9, 10, 'English'),
 ('1070-012', 7, 9, 'Penske_Mercedes-Benz'),
 ('1027-016', 19, 20, 'Jerusalem'),
 ('1034-003', 34, 36, 'Tel_Aviv'),
 ('1057-006', 0, 1, 'England'),
 ('1127-006', 10, 12, 'Dzhokhar_Dudayev'),
 ('1044-003', 3, 4, 'Arafat'),
 ('1069-003', 3, 4, 'Middlesex'),
 ('1096-029', 4, 5, 'Montreal'),
 ('1010-016', 7, 8, 'Italian'),
 ('0957-024', 3, 4, 'Germany'),
 ('1069-007', 0, 3, 'Glamorgan_259_and'),
 ('1007-029', 4, 6, 'Dow_Jones'),
 ('1009-011', 0, 1, 'Mexican'),
 ('1056-008', 1, 3, 'Lucy_Tyler-Sharman'),
 ('0960-013', 2, 3, "O'Brien"),
 ('0990-006', 0, 1, 'Lebed'),
 ('1010-000', 0, 1, 'U.S.'),
 ('0946-009', 13, 14, 'England'),
 ('1117-001', 0, 1, 'LONDON'),
 ('1099-017', 8, 10, 'Peter_Schoettel'),
 ('0966-139', 4, 5, 'Morocco'),
 ('1061-006', 1, 2, 'Irish'),
 ('0966-017', 4, 5, 'Germany'),
 ('0965-004', 6, 7, 'Olympic'),
 ('0990-007', 6, 8, 'Aslan_Maskhadov'),
 ('1087-007', 12, 13, 'Jansher'),
 ('0977-002', 3, 4, 'Canada'),
 ('0988-002', 21, 23, 'Gold_Fields'),
 ('0971-002', 0, 2, 'Sri_Lanka'),
 ('1087-000', 0, 6, 'SQUASH_-_HILL_BRANDS_WORLD_CHAMPION'),
 ('1155-011', 6, 7, 'Banisadr'),
 ('1112-002', 0, 1, 'German'),
 ('0955-015', 0, 1, 'Chonnam'),
 ('1014-003', 14, 15, 'Dole'),
 ('1147-003', 3, 6, 'Kurdistan_Democratic_Party'),
 ('0971-003', 8, 10, 'Sri_Lanka'),
 ('0972-009', 0, 2, 'S._Waugh'),
 ('1134-000', 2, 3, 'Indonesia'),
 ('1012-000', 7, 8, 'Farrakhan'),
 ('0965-007', 2, 3, 'Mitchell'),
 ('1143-000', 6, 7, 'Lebanon'),
 ('0966-069', 1, 3, 'Irina_Privalova'),
 ('1030-032', 15, 16, 'Democratic'),
 ('1150-001', 2, 4, 'N.H._1996-08-30'),
 ('0996-002', 4, 6, 'Dariusz_Rosati'),
 ('1076-041', 0, 1, 'Radnicki'),
 ('1060-009', 4, 5, 'Italy'),
 ('1085-002', 13, 14, 'European'),
 ('1016-012', 9, 10, 'Israeli'),
 ('1094-025', 2, 3, 'SEATTLE'),
 ('1116-000', 0, 1, 'Reuters'),
 ('1057-006', 29, 31, 'Darren_Gough'),
 ('1005-014', 10, 11, 'Comex'),
 ('1157-004', 10, 11, 'Iraqi'),
 ('0948-044', 9, 10, 'Nottingham'),
 ('0963-018', 9, 11, 'Texas_Open'),
 ('1026-003', 22, 23, 'Cairo'),
 ('1096-012', 35, 36, 'Koosman'),
 ('0966-157', 4, 5, 'Cuba'),
 ('0966-132', 4, 5, 'Russia'),
 ('1061-007', 2, 4, 'West_Hartlepool'),
 ('1142-002', 7, 8, 'Iraq'),
 ('0962-010', 5, 6, 'Stewart'),
 ('1043-002', 14, 18, 'the_Central_Narcotics_Bureau'),
 ('1116-006', 5, 6, 'Duke'),
 ('0968-002', 20, 23, 'the_Solidarity_Meeting'),
 ('0974-008', 0, 2, 'Sri_Lanka'),
 ('0960-009', 0, 1, 'Washington'),
 ('0965-013', 4, 6, 'American_Olympic'),
 ('0966-122', 1, 3, 'Pyotr_Bochkary'),
 ('1033-013', 12, 13, 'Russian'),
 ('1056-020', 4, 5, 'France'),
 ('1107-002', 0, 1, 'Austria'),
 ('1070-015', 1, 3, 'Mauricio_Gugelmin'),
 ('1089-001', 2, 3, 'Wisconsin'),
 ('0966-096', 1, 3, 'Linda_Kisabaka'),
 ('1160-014', 20, 24, 'Schindler_\'s_List_"'),
 ('1056-017', 21, 23, 'Danilo_Hondo'),
 ('1039-006', 0, 1, 'KOMPAS'),
 ('1031-007', 29, 30, 'Italian'),
 ('0961-003', 7, 10, 'the_Philadelphia_Eagles'),
 ('1096-016', 0, 2, 'Todd_Worrell'),
 ('1160-016', 11, 12, 'Jordan'),
 ('1096-013', 3, 6, "Delino_DeShields_'s"),
 ('1007-026', 38, 39, 'Geraghty'),
 ('0966-102', 1, 3, 'Jon_Drummond'),
 ('0981-011', 0, 4, "Douglas_&_Lomason_'s"),
 ('1152-004', 29, 30, 'Mediterranean'),
 ('1009-017', 1, 2, 'U.S.'),
 ('0947-002', 7, 9, 'English_county'),
 ('1056-034', 8, 10, 'Andrea_Collinelli'),
 ('1061-008', 0, 1, 'Orrell'),
 ('1087-012', 0, 1, 'Jansher'),
 ('0997-005', 17, 18, 'Yastrzhembsky'),
 ('1033-010', 27, 28, 'Russia'),
 ('0966-113', 1, 3, 'Vebjoen_Rodal'),
 ('1044-007', 0, 1, 'Arafat'),
 ('1099-008', 14, 17, 'Andreas_Heraf_and'),
 ('1146-000', 4, 5, 'Baghdad'),
 ('0974-008', 9, 11, 'Sanath_Jayasuriya'),
 ('0992-003', 25, 27, 'Alija_Izetbegovic'),
 ('1025-000', 0, 1, 'Syria'),
 ('1135-015', 1, 2, 'NLD'),
 ('1133-006', 18, 19, 'Manila'),
 ('0974-011', 3, 5, 'Muthiah_Muralitharan'),
 ('1056-038', 6, 8, 'Christian_Arrue'),
 ('1049-003', 1, 2, 'Irish'),
 ('0966-088', 4, 5, 'Hungary'),
 ('0964-002', 4, 6, 'Deportivo_Coruna'),
 ('1084-003', 7, 9, 'Daniel_Andersson'),
 ('1100-000', 0, 7, 'BOXING_-_JOHNSON_WINS_UNANIMOUS_POIUNTS_VERDICT'),
 ('1085-003', 2, 4, 'Vladimir_Makovsky'),
 ('0985-011', 15, 17, 'Las_Vegas'),
 ('0960-037', 3, 4, 'American'),
 ('0966-012', 1, 3, 'Svetlana_Masterkova'),
 ('1071-002', 18, 20, 'World_Cup'),
 ('0969-003', 0, 1, 'Baratelli'),
 ('1056-043', 14, 15, 'USA'),
 ('1116-038', 23, 24, 'American'),
 ('0983-003', 16, 18, 'Stansted_airport'),
 ('0988-005', 17, 19, 'Driefontein_Consolidated'),
 ('0946-010', 13, 14, 'Surrey'),
 ('0961-002', 0, 2, 'Randall_Cunningham'),
 ('0947-001', 0, 1, 'LONDON'),
 ('1011-006', 26, 27, 'Missouri'),
 ('1106-007', 0, 1, 'Turkey'),
 ('0985-004', 6, 9, 'World_Boxing_Council'),
 ('1067-011', 2, 4, 'Berwick_0'),
 ('1000-016', 20, 21, 'Petofi'),
 ('1029-002', 0, 1, 'WASHINGTON'),
 ('1051-009', 8, 10, 'Robert_Coles'),
 ('0949-001', 0, 1, 'LONDON'),
 ('1158-001', 0, 1, 'BRUSSELS'),
 ('1131-002', 13, 14, 'Chile'),
 ('0958-017', 0, 2, 'KANSAS_CITY'),
 ('0966-070', 4, 5, 'U.S.'),
 ('1139-002', 13, 15, 'Human_Rights'),
 ('1118-007', 25, 28, 'Scottish_National_Party'),
 ('1094-051', 0, 1, 'HOUSTON'),
 ('0959-001', 0, 2, 'NEW_YORK'),
 ('1142-001', 0, 1, 'ISTANBUL'),
 ('0972-037', 6, 9, 'M._Waugh_5-0-29-0'),
 ('1125-005', 30, 31, 'Rwanda'),
 ('0965-006', 0, 1, 'Jamaica'),
 ('0977-012', 0, 1, 'Canadian'),
 ('0946-012', 14, 16, "Tim_O'Gorman"),
 ('1056-006', 1, 2, 'Antonella'),
 ('1000-008', 0, 1, 'Frater'),
 ('1152-010', 1, 2, 'U.S.'),
 ('0957-033', 26, 27, 'Sweden'),
 ('1072-017', 5, 6, 'Mehrtens'),
 ('1036-024', 4, 5, 'Ukrainian'),
 ('1027-009', 9, 12, 'the_West_Bank'),
 ('1017-006', 5, 6, 'CFDT'),
 ('1094-005', 0, 3, 'AMERICAN_LEAGUE_EASTERN'),
 ('0998-003', 0, 1, 'Lebed'),
 ('0947-008', 18, 20, 'M._Butcher'),
 ('0989-002', 6, 8, "N'Djamena_University"),
 ('0966-064', 4, 5, 'Jamaica'),
 ('1017-000', 4, 6, 'Air_France'),
 ('0969-003', 7, 8, 'Paris'),
 ('1121-002', 22, 23, 'Kurdish'),
 ('1035-002', 11, 12, 'Germany'),
 ('1058-013', 0, 2, 'Brian_Giles'),
 ('0992-007', 29, 30, 'Serb'),
 ('1121-008', 5, 6, 'Iran'),
 ('1116-027', 7, 8, 'German'),
 ('1094-019', 0, 1, 'TEXAS'),
 ('0981-001', 3, 4, 'Mich'),
 ('1152-016', 2, 3, 'U.S.'),
 ('0969-003', 27, 28, 'Guingamp'),
 ('1127-014', 29, 30, 'Urus-Martan'),
 ('1131-003', 23, 24, 'Chile'),
 ('1031-012', 6, 7, 'Unicom'),
 ('1097-011', 0, 1, 'Edberg'),
 ('1011-012', 10, 11, 'Missouri'),
 ('1116-022', 6, 8, 'Ice_Cold'),
 ('1005-006', 19, 21, 'South_Korean'),
 ('1133-006', 29, 30, 'China'),
 ('1126-005', 3, 4, 'NATO'),
 ('0958-002', 0, 3, 'Major_League_Baseball'),
 ('1103-009', 0, 3, 'Brazilian-born_Luis_Oliveira'),

## Problem 5: Extending the training data using the knowledge base

State-of-the-art approaches to entity linking exploit information in knowledge bases. In our case, where Wikipedia is the knowledge base, one particularly useful type of information are links to other Wikipedia pages. In particular, we can interpret the anchor texts (the highlighted texts that you click on) as mentions of the entities (pages) that they link to. This allows us to harvest long lists of mention–entity pairings.

The following cell loads a data frame summarizing anchor texts and page references harvested from the first paragraphs of the English Wikipedia. The data frame also contains all entity mentions in the training data (but not the development or the test data).

In [54]:
with bz2.open('kb.tsv.bz2', 'rt') as source:
    df_kb = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

To understand what information is availabel in this data, the following cell shows the entry for the anchor text `Sweden`.

In [55]:
df_kb.loc[df_kb.mention == 'Sweden']

      mention                                 entity      prob
17436  Sweden                                 Sweden  0.985768
17437  Sweden          Sweden_national_football_team  0.014173
17438  Sweden  Sweden_men's_national_ice_hockey_team  0.000059

As you can see, each row of the data frame contains a pair $(m, e)$ of a mention $m$ and an entity $e$, as well as the conditional probability $P(e|m)$ for mention $m$ referring to entity $e$. These probabilities were estimated based on the frequencies of mention–entity pairs in the knowledge base. The example shows that the anchor text &lsquo;Sweden&rsquo; is most often used to refer to the entity [Sweden](http://en.wikipedia.org/wiki/Sweden), but in a few cases also to refer to Sweden&rsquo;s national football and ice hockey teams. Note that references are sorted in decreasing order of probability, so that the most probable pairing come first.

Implement an entity linking method that resolves each mention to the most probable entity in the data frame. If the mention is not included in the data frame, you can predict the generic label `--NME--`. Print the precision, recall, and F1 of your method using the function that you implemented for Problem&nbsp;1.

In [56]:
new_df_dev.head()

,sentence_id,sentence,beg,end,label
0,1027-004,An Israeli roadblock stopped the 38-year-old P...,1,2,--NME--
1,1016-014,Ruehe planned to meet his Israeli counterpart ...,5,6,--NME--
2,1090-004,"Spain travels to Belgium , while the U.S. team...",3,4,--NME--
3,1112-004,Klinsmann said he believed Germany could win i...,4,5,--NME--
4,1139-008,Wang was jailed for two years for organising s...,22,24,--NME--

In [57]:
df_kb.head()

           mention                   entity  prob
0      000 Guineas      2000_Guineas_Stakes   1.0
1            10 00     United_States_dollar   1.0
2      126 million     United_States_dollar   1.0
3     13th dynasty  Middle_Kingdom_of_Egypt   1.0
4  14th Dalai Lama          14th_Dalai_Lama   1.0

In [59]:
# # TODO: Write code here to implement the "most probable entity" method.    
# def most_probable_entity(new_df_dev, df_kb):
#     for row in new_df_dev.itertuples():
#         df_label = '_'.join(row.sentence.split(' ')[row.beg : row.end])
#         mentions = df_kb.loc[df_kb['mention'] == df_label]
#         if len(mentions) > 0:
#             # the prob goes from highest to lowest, hte first one is what we need 
#             label = mentions.iloc[0].entity
#         else:
#             label = '--NME--'
#         yield row.sentence_id, row.beg, row.end, label

In [73]:
# TODO: Write code here to implement the "most probable entity" method.
def entity_link(df):
    return_list = []
    for row in df.itertuples():
        entity = df_kb.loc[df_kb.mention == nlp(row[2])[row[3]:row[4]].text][0:1]['entity'].values
        if len(entity)==0:
            return_list+=[(row[1],row[3],row[4],'--NME--')]
        else:
            return_list+=[(row[1],row[3],row[4],entity[0])]
    return set(return_list)

In [74]:
pred = set(entity_link(new_df_dev))
evaluation_report(gold_standard_mentions, pred = pred)

precission:  0.6496529195590037 , recall:  0.5377725198580362 , F1_score:  0.588441978733241

## Problem 6: Context-sensitive disambiguation

Consider the entity mention &lsquo;Lincoln&rsquo;. The most probable entity for this mention turns out to be [Lincoln, Nebraska](http://en.wikipedia.org/Lincoln,_Nebraska); but in pages about American history, we would be better off to predict [Abraham Lincoln](http://en.wikipedia.org/Abraham_Lincoln). This suggests that we should try to disambiguate between different entity references based on the textual context on the page from which the mention was taken. Your task in this last problem is to implement this idea.

Set up a dictionary that contains, for each mention $m$ that can refer to more than one entity $e$, a separate Naive Bayes classifier that is trained to predict the correct entity $e$, given the textual context of the mention. As the prior probabilities of the classifier, choose the probabilities $P(e|m)$ that you used in Problem&nbsp;5. To let you estimate the context-specific probabilities, we have compiled a data set with mention contexts:

In [75]:
with bz2.open('contexts.tsv.bz2') as source:
    df_contexts = pd.read_csv(source, sep='\t', quoting=csv.QUOTE_NONE)

This data frame contains, for each ambiguous mention $m$ and each knowledge base entity $e$ to which this mention can refer, up to 100 randomly selected contexts in which $m$ is used to refer to $e$. For this data, a **context** is defined as the 5 tokens to the left and the 5 tokens to the right of the mention. Here are a few examples:

In [76]:
df_contexts.head()

,mention,entity,context
0,1970,UEFA_Champions_League,Cup twice the first in @ and the second in 1983
1,1970,FIFA_World_Cup,America 1975 and during the @ and 1978 World C...
2,1990 World Cup,1990_FIFA_World_Cup,Manolo represented Spain at the @
3,1990 World Cup,1990_FIFA_World_Cup,Hašek represented Czechoslovakia at the @ and ...
4,1990 World Cup,1990_FIFA_World_Cup,renovations in 1989 for the @ The present capa...

Note that, in each context, the position of the mention is indicated by the `@` symbol.

From this data frame, it is easy to select the data that you need to train the classifiers – the contexts and corresponding entities for all mentions. To illustrate this, the following cell shows how to select all contexts that belong to the mention &lsquo;Lincoln&rsquo;:

In [81]:
df_contexts.context[df_contexts.mention == 'Lincoln']

41465    Nebraska Concealed Handgun Permit In @ municip...
41466    Lazlo restaurants are located in @ and Omaha C...
41467    California Washington Overland Park Kansas @ N...
41468    City Missouri Omaha Nebraska and @ Nebraska It...
41469    by Sandhills Publishing Company in @ Nebraska USA
                               ...
41609                                      @ Leyton Orient
41610                    English division three Swansea @
41611    league membership narrowly edging out @ on goa...
41612                                          @ Cambridge
41613                                                   @
Name: context, Length: 149, dtype: object

Implement the context-sensitive disambiguation method and evaluate its performance. Here are some more hints that may help you along the way:

**Hint 1:** The prior probabilities for a Naive Bayes classifier can be specified using the `class_prior` option. You will have to provide the probabilities in the same order as the alphabetically sorted class (entity) names.

**Hint 2:** Not all mentions in the knowledge base are ambiguous, and therefore not all mentions have context data. If a mention has only one possible entity, pick that one. If a mention has no entity at all, predict the `--NME--` label.

In [78]:
# TODO: Write code here to implement the context-sensitive disambiguation method
import math
import numpy as np
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import CountVectorizer

vectorizer1 = CountVectorizer()
vectorizer1.fit(np.append(df_contexts.context.values,df_contexts.mention.values))

dict_mention = dict()

for m in set(df_contexts.mention):
    contexts = df_contexts[df_contexts.mention == m]['context'].values
    entity = df_contexts[df_contexts.mention == m]['entity'].values
    #complete contexts by replacing the '@'
    contexts_replace = [x[0].replace('@', x[1]) for x in zip(contexts, entity)]
    #compute prior probabilities
    prior_prob_list = [df_kb.prob[(df_kb.mention == m)&(df_kb.entity == x)].values[0] for x in sorted(set(entity))]
    #vectorize context as input data
    X = vectorizer1.transform(contexts_replace)
    model = MultinomialNB(class_prior = prior_prob_list)
    dict_mention[m] = model.fit(X,entity)

In [79]:
# prediction
def predict_cs(df):
    return_list = []
    for row in df.itertuples():
        # extract mentions from sentences
        mention = nlp(row[2])[row[3]:row[4]].text
        if mention in dict_mention.keys():
            context = [nlp(row[2])[row[3]-5:row[4]-5].text]
            #predict using the model stored in dictionary
            entity_pre = dict_mention[mention].predict(vectorizer1.transform(context))[0]
            return_list += [(row[1],row[3],row[4],entity_pre)]
        
        else:
            # for the mentions which don't have contexts, use entity_link instead
            return_list += [x for x in entity_link(pd.DataFrame([row[1:]]))]

    return set(return_list)

In [80]:
evaluation_report(set(gold_mentions(df_dev)), predict_cs(new_df_dev))

precission:  0.6518987341772152 , recall:  0.5396315700523914 , F1_score:  0.5904761904761905

You should expect to see a small (around 1&nbsp;unit) increase in both precision, recall, and F1.

----My Answer:

----In problem 5:
precission:  0.6496529195590037 , recall:  0.5377725198580362 , F1_score:  0.588441978733241

----In problem 6:
precission:  0.6518987341772152 , recall:  0.5396315700523914 , F1_score:  0.5904761904761905

----As we expected, these values have improved slightly, the function in Problem 6 works

## Reflection questions

The following reflection questions will help you prepare for the diagnostic test. Answer each of them in the form of a short text and put your answers in the cell below. You will get feedback on your answers from your lab assistant.

**RQ 5.1:** In Problem&nbsp;3, you did an error analysis on the task of recognizing text spans mentioning named entities. Summarize your results. Pick one type of error that you observed. How could you improve the model&rsquo;s performance on this type of error? What resources (such as domain knowledge, data, compute) would you need to implement this improvement?

**RQ 5.2:** Thinking back about Problem&nbsp;6, explain what the word *context* refers to in the task addressed there, and how context can help to disambiguate between different entities. Suggest other types of context that you could use for disambiguation.

**RQ 5.3:** One type of entity mentions that we did not cover explicitly in this lab are pronouns. As an example, consider the sentence pair *Ruth Bader Ginsburg was an American jurist*. *She served as an associate justice of the Supreme Court from 1993 until her death in 2020*. What facts would you want to extract from this sentence pair? How do pronouns make fact extraction hard?

*TODO: Enter your answers here*

----5.1 We improve accuracy by removing number-related types. For example, one of the FPs is 'FP: 1996-08-30', This is a type that represents the date. There are various formats of the date. We need to improve the accuracy of the predicted date through calculation and some discriminants.

----5.2 Example: The meaning of "apple" in the sentences "my mobile phone is an apple" and "I like to eat apples" is different.

We can calculate similarity by context. For example, we know that "Apple: is a kind of fruit, generally produced in...", "Apple: a high-tech company in the United States, and its classic products include iPhones", we can express these two meanings with vectors; Next, for a sentence that needs to be recognized, such as "I want to eat an apple", the context of "apple" in this sentence is taken out and converted into a vector, and compared with the above two meanings, which one has the highest similarity, we It can be considered what meaning the word represents.


---5.3 Ruth Bader Ginsburg served as associate justice of the Supreme Court from 1993 until her death in 2020.

Because we need to associate the pronoun with the preceding object, which increases the difficulty of extracting information.

**This was the last lab in the Text Mining course. Congratulations! 🥳**